#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 100vw;
  gap: 3vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (max-width: 500px) {
  footer {
    height: 200px;
    flex-direction: column;
  }
}
