.filter-container {
  position: relative;
  box-sizing: border-box;
}

.filter-directions {
  margin: 5rem, 5rem;
}

.filter-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 2px solid #000;
}

.confirm-input {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
