@import "tailwindcss";

.movie-card {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(229, 231, 235);
  font-size: 100%;
  padding: 1.5rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -4px rgb(0, 0, 0, 0.1);
}

.poster-container {
  width: 40%;
  align-content: center;
}

img.poster {
  justify-self: center;
  margin-bottom: 1rem;
  height: 225px;
  width: 150px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-content: flex-start;
  margin: 10px 15px;
}

.title {
  text-align: left;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2rem;
  color: white;
}

.description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5em;
  text-align: left;
  font-size: 1rem;
  color: white;
}

.extra-info {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-end;
  list-style-type: none;
  font-size: 1.3rem;
  gap: 15px;
  padding: 0;
}

a {
  color: #fff;
}
a:hover {
  color: rgb(220, 220, 233);
}

@media screen and (max-width: 630px) {
  .poster {
    height: 50%;
  }
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .poster {
    height: 50%;
  }
}

@media (min-width: 768px) {
  .poster {
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .poster {
    height: 300px;
  }
}
