.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  z-index: 50;
}

.navbar .leftSide {
  padding-left: 10px;
}

.navbar .nav-logo {
  width: 70px;
  height: 70px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  gap: 3vw;
  background-color: #121619;
}

.tmdb-attribution {
  display: flex;
  flex-direction: column;
  /* width: 10%; */
}

img.tmdb-logo {
  justify-content: flex-start;
  align-content: space-evenly;
  max-width: 20%;
}

.tmdb-notice {
  font-size: 0.5rem;
  padding-top: 0.5rem;
  text-align: left;
}

.box-travel {
  background-color: white;
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 10px;
  animation: travel 2s infinite;
}

@keyframes travel {
  0% {
    left: 85%;
  }
  50% {
    left: 95%;
  }
  100% {
    left: 85%;
  }
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 5%;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 900px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
