.navbar{position: relative;
    min-height: 48px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0;
    border-top-left-radius: calc(16px);
    border-top-right-radius: calc(16px);
    border-bottom-right-radius: calc(16px);
    border-bottom-left-radius: calc(16px);
    backdrop-filter: blur(24px);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    /* border-top-color: ;
    border-right-color: ;
    border-bottom-color: ;
    border-left-color: ; */
    background-color: rgba(var(--template-palette-background-defaultChannel) / 0.4);
    box-shadow: var(--template-shadows-1);
    padding: 8px 12px;
    margin-bottom: 20%;
    color: white;
}







.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}


@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 5%;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 900px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
} */
