@import "tailwindcss";

.selection-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 10px;
}

.poster-fw {
  width: 40%;
  border-width: 0;
  overflow: hidden;
  border-radius: 8px;
  margin-left: 10px;
}

#selection-info {
  flex: 50%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}

.backdrop {
  width: 100%;
  height: auto;
  height: 296px;
  object-fit: cover;
  background-position: center;
}

.credits-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: calc(2rem * calc(1 - 0));
  margin-bottom: calc(2rem * 0);
}

.credits-card {
  display: flex;
}
